<!-- left-sidebar.component.html -->

<div class="left-sidebar">
    <div class="imp-links">
        <a href="#"><img src="https://picsum.photos/1611" alt=""> Latest News</a>
        <a href="#"><img src="https://picsum.photos/1612" alt=""> Friends</a>
        <a href="#"><img src="https://picsum.photos/1613" alt=""> Group</a>
        <a href="#"><img src="https://picsum.photos/1614" alt=""> Marketplace</a>
        <a href="#"><img src="https://picsum.photos/1615" alt=""> Watch</a>
        <a href="#">See More</a>
    </div>
    <div class="shortcut-links">
        <p>Your Shortcuts</p>
        <a href="#"><img src="https://picsum.photos/1616" alt=""> Web Developers</a>
        <a href="#"><img src="https://picsum.photos/1617" alt=""> Web Desighn Course</a>
        <a href="#"><img src="https://picsum.photos/1618" alt=""> Full Stack Development</a>
        <a href="#"><img src="https://picsum.photos/1619" alt=""> Website Experts</a>
    </div>
</div>
