<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md px-8 py-4 bg-white shadow-lg rounded-lg">
    <h1 class="text-3xl font-semibold text-center text-black mb-6">Sign Up</h1>

    <ng-container *ngIf="!verificationCodeEntered">
      <form [formGroup]="form" (ngSubmit)="inscrireUtilisateur()">
        <div class="mb-4">
          <label for="nom" class="block mb-2 text-sm font-medium text-gray-900">Nom</label>
          <input type="text" formControlName="nom" id="nom"
            class="w-full p-2.5 border border-gray-300 rounded-lg text-black bg-white focus:ring-2 focus:ring-gray-500 focus:border-gray-500 focus:outline-none"
            placeholder="Votre nom" required>
        </div>

        <div class="mb-4">
          <label for="prenom" class="block mb-2 text-sm font-medium text-gray-900">Prénom</label>
          <input type="text" formControlName="prenom" id="prenom"
            class="w-full p-2.5 border border-gray-300 rounded-lg text-black bg-white focus:ring-2 focus:ring-gray-500 focus:border-gray-500 focus:outline-none"
            placeholder="Votre prénom" required>
        </div>

        <div class="mb-4">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Adresse e-mail</label>
          <input type="email" formControlName="email" id="email"
            class="w-full p-2.5 border border-gray-300 rounded-lg text-black bg-white focus:ring-2 focus:ring-gray-500 focus:border-gray-500 focus:outline-none"
            placeholder="name@company.com" required>
        </div>

        <div class="mb-4">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Mot de passe</label>
          <div class="relative">
            <input [type]="passwordVisible1 ? 'text' : 'password'" formControlName="password" id="password"
              class="w-full p-2.5 border border-gray-300 rounded-lg text-black bg-white focus:ring-2 focus:ring-gray-500 focus:border-gray-500 focus:outline-none"
              placeholder="••••••••">
            <button type="button" (click)="togglecPasswordVisibility()"
              class="absolute right-2 top-2.5 text-sm text-gray-600 hover:text-gray-800">
              {{ passwordVisible1 ? 'Hide' : 'Show' }}
            </button>
          </div>
        </div>

        <div class="mb-4">
          <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900">Confirmer le mot de passe</label>
          <div class="relative">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword"
              class="w-full p-2.5 border border-gray-300 rounded-lg text-black bg-white focus:ring-2 focus:ring-gray-500 focus:border-gray-500 focus:outline-none"
              placeholder="••••••••">
            <button type="button" (click)="togglePasswordVisibility()"
              class="absolute right-2 top-2.5 text-sm text-gray-600 hover:text-gray-800">
              {{ showPassword ? 'Hide' : 'Show' }}
            </button>
          </div>
        </div>

        <div class="mb-6">
          <label class="flex items-center">
            <input type="checkbox" formControlName="mfaEnabled" class="mr-2">
            <span class="text-sm text-gray-900">Two-factor Authentication</span>
          </label>
        </div>

        <button type="submit" [disabled]="submitted"
          class="w-full p-2.5 text-white bg-black rounded-lg hover:bg-gray-800 focus:ring-2 focus:ring-gray-500 focus:outline-none transition duration-200">
          Create an account
        </button>
      </form>
    </ng-container>

    <ng-container *ngIf="verificationCodeEntered">
      <div class="w-full max-w-md p-8 bg-white shadow-lg rounded-lg">
        <div *ngIf="qrCodeUri" class="mb-4">
          <p class="block mb-2 text-sm font-medium text-gray-900">
            QR code pour valider le compte Authenticator
          </p>
          <img [src]="qrCodeUri" alt="QR Code" class="mx-auto">
        </div>
        <form [formGroup]="verificationForm" (ngSubmit)="verifyCode()" class="space-y-4">
          <div>
            <label for="verification-code" class="block mb-2 text-sm font-medium text-gray-900">Verification Code with Email</label>
            <input type="text" formControlName="code" id="verification-code"
              class="w-full p-2.5 border border-gray-300 rounded-lg text-black bg-white focus:ring-2 focus:ring-gray-500 focus:border-gray-500 focus:outline-none"
              placeholder="Enter verification code" required>
          </div>
          <button type="submit"
            class="w-full p-2.5 text-white bg-black rounded-lg hover:bg-gray-800 focus:ring-2 focus:ring-gray-500 focus:outline-none transition duration-200">
            Verify Code
          </button>
        </form>
      </div>
    </ng-container>

    <div class="mt-6 text-center">
      <p class="text-gray-600">Already have an account?
        <a routerLink="/" class="text-black hover:underline">Login here</a>
      </p>
    </div>
  </div>
</div>

